<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box {
            width: 90%;
            padding: 20px;
            margin: 20px auto;
            background-color: #282C34;
            text-align: justify;
        }

        .list {
            width: 100px;
            display: inline-block;
            padding-bottom: 20px;
            text-align: center;
            vertical-align: top;
        }

        .list div, .fix-justify div {
            height: 100px;
            width: 100px;
        }

        .fix-justify {
            font-size: 0
        }
    </style>
</head>
<body>
<div class="box">
    <span class="list"><div style="background-color: #D3D7DB">#D3D7DB</div></span>
    <span class="list"><div style="background-color: #589DF6">#589DF6</div></span>
    <span class="list"><div style="background-color: #6A8759">#6A8759</div></span>
    <span class="list"><div style="background-color: #C3D3DE">#C3D3DE</div></span>
    <span class="list"><div style="background-color: #FF5370">#FF5370</div></span>
    <span class="list"><div style="background-color: #6B6A89">#6B6A89</div></span>
    <span class="list"><div style="background-color: #546E7A">#546E7A</div></span>
    <span class="list"><div style="background-color: #7093A3">#7093A3</div></span>
    <span class="list"><div style="background-color: #808080">#808080</div></span>
    <span class="list"><div style="background-color: #C792EA">#C792EA</div></span>
    <span class="list"><div style="background-color: #BA7EC7">#BA7EC7</div></span>
    <span class="list"><div style="background-color: #263238">#263238</div></span>
    <span class="list"><div style="background-color: #1E2B31">#1E2B31</div></span>
    <span class="list"><div style="background-color: #FFCB6B">#FFCB6B</div></span>
    <span class="list"><div style="background-color: #A9B7C6">#A9B7C6</div></span>
    <span class="list"><div style="background-color: #FF5A71">#FF5A71</div></span>
    <span class="list"><div style="background-color: #01BF8E">#01BF8E</div></span>
    <span class="list"><div style="background-color: #0A9FC5">#0A9FC5</div></span>
    <span class="list"><div style="background-color: #F77669">#F77669</div></span>
    <span class="list"><div style="background-color: #1196DB">#1196DB</div></span>
    <span class="list"><div style="background-color: #043797">#043797</div></span>
    <span class="list"><div style="background-color: #E6CD29">#E6CD29</div></span>
    <span class="list"><div style="background-color: #FAFFBD">#FAFFBD</div></span>
    <span class="list"><div style="background-color: #4ADF70">#4ADF70</div></span>
    <span class="list"><div style="background-color: #ACA37F">#ACA37F</div></span>
    <span class="list"><div style="background-color: #9876AA">#9876AA</div></span>
    <span class="list"><div style="background-color: #F9CF0A">#F9CF0A</div></span>
    <span class="list"><div style="background-color: #4ADF70">#4ADF70</div></span>
    <span class="list"><div style="background-color: #0000FF">#0000FF</div></span>
    <span class="list"><div style="background-color: #01B4D2">#01B4D2</div></span>
    <span class="list"><div style="background-color: #C3E887">#C3E887</div></span>
    <span class="list"><div style="background-color: #FD6461">#FD6461</div></span>
    <span class="list"><div style="background-color: #6B6A89">#6B6A89</div></span>
    <span class="list"><div style="background-color: #EF3063">#EF3063</div></span>
    <span class="list"><div style="background-color: #5699BD">#5699BD</div></span>
    <span class="list"><div style="background-color: #809BD8">#809BD8</div></span>
    <span class="list"><div style="background-color: #80CBAE">#80CBAE</div></span>
    <span class="list"><div style="background-color: #FFC251">#FFC251</div></span>
    <span class="list"><div style="background-color: #6468B0">#6468B0</div></span>
    <span class="list"><div style="background-color: #C3E88D">#C3E88D</div></span>
    <span class="list"><div style="background-color: #64D0FE">#64D0FE</div></span>
    <span class="list"><div style="background-color: #87AEFD">#87AEFD</div></span>
    <span class="list"><div style="background-color: #82B1FF">#82B1FF</div></span>
    <span class="list"><div style="background-color: #FF5370">#FF5370</div></span>
    <span class="list"><div style="background-color: #A9B7C6">#A9B7C6</div></span>
    <span class="list"><div style="background-color: #C3CEE3">#C3CEE3</div></span>
    <span class="list"><div style="background-color: #263238">#263238</div></span>
    <span class="list"><div style="background-color: #ABB2BF">#ABB2BF</div></span>
    <span class="list"><div style="background-color: #98C379">#98C379</div></span>
    <span class="list"><div style="background-color: #E06C75">#E06C75</div></span>
    <span class="list"><div style="background-color: #D19A66">#D19A66</div></span>
    <span class="list"><div style="background-color: #98C379">#98C379</div></span>
    <span class="list"><div style="background-color: #6A8759">#6A8759</div></span>
    <span class="list"><div style="background-color: #50B6C3">#50B6C3</div></span>
    <span class="list"><div style="background-color: #979748">#979748</div></span>
    <span class="list"><div style="background-color: #A7DBD8">#A7DBD8</div></span>
    <span class="list"><div style="background-color: #80CBC4">#80CBC4</div></span>
    <span class="list"><div style="background-color: #01B4D2">#01B4D2</div></span>
    <span class="list"><div style="background-color: #FDA5FF">#FDA5FF</div></span>
    <span class="list"><div style="background-color: #C679DD">#C679DD</div></span>
    <span class="list"><div style="background-color: #A9B7C6">#A9B7C6</div></span>
    <span class="list"><div style="background-color: #CC7832">#CC7832</div></span>
    <span class="list"><div style="background-color: #BBB529">#BBB529</div></span>
    <span class="list"><div style="background-color: #2552DF">#2552DF</div></span>
    <span class="list"><div style="background-color: #BC3F3C">#BC3F3C</div></span>
    <span class="list"><div style="background-color: #112041">#112041</div></span>
    <span class="fix-justify">
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
        <i class="list"></i>
    </span>
</div>
</body>
</html>